@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
}
body {
  background-color: #f6f6f6;
  color: #323b49;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
/* global classes */
.flex-container {
  display: flex;
}
/* end global classes */
