form {
  display: flex;
  flex-wrap: wrap;
}
form input {
  padding: 10px;
  flex: 50%;
  margin: 5px 10px;
}
form img {
  width: 20px;
}
.btn-wrapper {
  flex: 100%;
}
button {
  background-color: #e4b302;
  padding: 10px 40px;
  margin-block-start: 15px;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  border: 0;
  margin: 10px;
}
.react-select-container {
  width: 100%;
  margin: 10px;
}
.react-select__control {
  border-radius: 0 !important;
}
.custom-tabs .react-tabs {
  background-color: #fff;
}
.custom-tabs .react-tabs__tab--selected {
  background: #fff !important;
}
.custom-tabs .react-tabs__tab {
  background: #aaa;
  color: black;
  border: 0;
  border-radius: 0;
  width: 50%;
  padding: 10px 0;
  text-align: center;
}
.custom-tabs .react-tabs__tab-panel {
  display: flex;
  justify-content: center;
}

@media (min-width: 776px) {
  .custom-tabs .react-tabs__tab-panel {
    max-width: 600px;
  }
}
@media (max-width: 777px) {
  .custom-tabs .react-tabs__tab-panel {
    min-width: 100%;
  }
}
